/ansible/ansible-deps-cache
/apps/fillForm/node_modules/
/apps/fillForm/.env
/apps/fillForm/.node-env
/apps/fillForm/packages
/doc/API-clients/websrv/.env
/doc/API-clients/isa/.env
/doc/API-clients/api.epfl.ch/Persons API/.env
/apps/fillForm/tsconfig.tsbuildinfo
/docker/zeebe-hazelcast/*.jar
/docker/simple-monitor/*.jar
/docker/volumes
/docker/.env
/bpmn-model/*
